<!-- app/views/shared/_navbar.html.erb -->
<nav class="bottom-tabs" aria-label="Primary">
  <%= link_to root_path,
      class: "tab #{'active' if current_page?(root_path)}" do %>
    <i class="fa-solid fa-house"></i>
    <span>Home</span>
  <% end %>

  <%= link_to lists_index_path,
      class: "tab #{'active' if current_page?(lists_index_path)}" do %>
    <i class="fa-solid fa-list"></i>
    <span>Lists</span>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path,
        data: { turbo_method: :delete },
        class: "tab" do %>
      <i class="fa-solid fa-right-from-bracket"></i>
      <span>Logout</span>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path,
        class: "tab #{'active' if current_page?(new_user_session_path)}" do %>
      <i class="fa-solid fa-user"></i>
      <span>Login</span>
    <% end %>
  <% end %>
</nav>
